/**/
p.c6 {
    margin-top: 0;
    margin-bottom: 0
    }
table.c5 {
    border-collapse: collapse
    }
span.c4 {
    font-size: 200%
    }
div.c3 {
    text-align: center
    }
p.c2 {
    text-align: center
    }
h2.c1 {
    text-align: center
    }
/**/